## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
!pip install tensorflow

Requirement already satisfied: tensorflow in c:\users\radrs01\anaconda3\lib\site-packages (2.12.0)
Requirement already satisfied: tensorflow-intel==2.12.0 in c:\users\radrs01\anaconda3\lib\site-packages (from tensorflow) (2.12.0)
Requirement already satisfied: h5py>=2.9.0 in c:\users\radrs01\anaconda3\lib\site-packages (from tensorflow-intel==2.12.0->tensorflow) (3.7.0)
Requirement already satisfied: numpy<1.24,>=1.22 in c:\users\radrs01\anaconda3\lib\site-packages (from tensorflow-intel==2.12.0->tensorflow) (1.23.5)
Requirement already satisfied: wrapt<1.15,>=1.11.0 in c:\users\radrs01\anaconda3\lib\site-packages (from tensorflow-intel==2.12.0->tensorflow) (1.14.1)
Requirement already satisfied: setuptools in c:\users\radrs01\anaconda3\lib\site-packages (from tensorflow-intel==2.12.0->tensorflow) (63.4.1)
Requirement already satisfied: jax>=0.3.15 in c:\users\radrs01\anaconda3\lib\site-packages (from tensorflow-intel==2.12.0->tensorflow) (0.4.10)
Requirement already satisfied: keras<2.13,>=2.12.0 in c:\users\radrs01\anaconda3\lib\site-packages (from tensorflow-intel==2.12.0->tensorflow) (2.12.0)
Requirement already satisfied: packaging in c:\users\radrs01\anaconda3\lib\site-packages (from tensorflow-intel==2.12.0->tensorflow) (21.3)
Requirement already satisfied: tensorflow-estimator<2.13,>=2.12.0 in c:\users\radrs01\anaconda3\lib\site-packages (from tensorflow-intel==2.12.0->tensorflow) (2.12.0)
Requirement already satisfied: tensorboard<2.13,>=2.12 in c:\users\radrs01\anaconda3\lib\site-packages (from tensorflow-intel==2.12.0->tensorflow) (2.12.3)
Requirement already satisfied: six>=1.12.0 in c:\users\radrs01\anaconda3\lib\site-packages (from tensorflow-intel==2.12.0->tensorflow) (1.16.0)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1 in c:\users\radrs01\anaconda3\lib\site-packages (from tensorflow-intel==2.12.0->tensorflow) (0.31.0)
Requirement already satisfied: google-pasta>=0.1.1 in c:\users\radrs01\anaconda3\lib\site-packages (from tensorflow-intel==2.12.0->tensorflow) (0.2.0)
Requirement already satisfied: absl-py>=1.0.0 in c:\users\radrs01\anaconda3\lib\site-packages (from tensorflow-intel==2.12.0->tensorflow) (1.4.0)
Requirement already satisfied: libclang>=13.0.0 in c:\users\radrs01\anaconda3\lib\site-packages (from tensorflow-intel==2.12.0->tensorflow) (16.0.0)
Requirement already satisfied: termcolor>=1.1.0 in c:\users\radrs01\anaconda3\lib\site-packages (from tensorflow-intel==2.12.0->tensorflow) (2.3.0)
Requirement already satisfied: gast<=0.4.0,>=0.2.1 in c:\users\radrs01\anaconda3\lib\site-packages (from tensorflow-intel==2.12.0->tensorflow) (0.4.0)
Requirement already satisfied: astunparse>=1.6.0 in c:\users\radrs01\anaconda3\lib\site-packages (from tensorflow-intel==2.12.0->tensorflow) (1.6.3)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in c:\users\radrs01\anaconda3\lib\site-packages (from tensorflow-intel==2.12.0->tensorflow) (1.54.2)
Requirement already satisfied: opt-einsum>=2.3.2 in c:\users\radrs01\anaconda3\lib\site-packages (from tensorflow-intel==2.12.0->tensorflow) (3.3.0)
Requirement already satisfied: typing-extensions>=3.6.6 in c:\users\radrs01\anaconda3\lib\site-packages (from tensorflow-intel==2.12.0->tensorflow) (4.3.0)
Requirement already satisfied: protobuf!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<5.0.0dev,>=3.20.3 in c:\users\radrs01\anaconda3\lib\site-packages (from tensorflow-intel==2.12.0->tensorflow) (4.23.1)
Requirement already satisfied: flatbuffers>=2.0 in c:\users\radrs01\anaconda3\lib\site-packages (from tensorflow-intel==2.12.0->tensorflow) (23.5.9)
Requirement already satisfied: wheel<1.0,>=0.23.0 in c:\users\radrs01\anaconda3\lib\site-packages (from astunparse>=1.6.0->tensorflow-intel==2.12.0->tensorflow) (0.37.1)
Requirement already satisfied: ml-dtypes>=0.1.0 in c:\users\radrs01\anaconda3\lib\site-packages (from jax>=0.3.15->tensorflow-intel==2.12.0->tensorflow) (0.1.0)
Requirement already satisfied: scipy>=1.7 in c:\users\radrs01\anaconda3\lib\site-packages (from jax>=0.3.15->tensorflow-intel==2.12.0->tensorflow) (1.9.1)
Requirement already satisfied: werkzeug>=1.0.1 in c:\users\radrs01\anaconda3\lib\site-packages (from tensorboard<2.13,>=2.12->tensorflow-intel==2.12.0->tensorflow) (2.0.3)
Requirement already satisfied: google-auth<3,>=1.6.3 in c:\users\radrs01\anaconda3\lib\site-packages (from tensorboard<2.13,>=2.12->tensorflow-intel==2.12.0->tensorflow) (2.18.1)
Requirement already satisfied: tensorboard-data-server<0.8.0,>=0.7.0 in c:\users\radrs01\anaconda3\lib\site-packages (from tensorboard<2.13,>=2.12->tensorflow-intel==2.12.0->tensorflow) (0.7.0)
Requirement already satisfied: google-auth-oauthlib<1.1,>=0.5 in c:\users\radrs01\anaconda3\lib\site-packages (from tensorboard<2.13,>=2.12->tensorflow-intel==2.12.0->tensorflow) (1.0.0)
Requirement already satisfied: markdown>=2.6.8 in c:\users\radrs01\anaconda3\lib\site-packages (from tensorboard<2.13,>=2.12->tensorflow-intel==2.12.0->tensorflow) (3.3.4)
Requirement already satisfied: requests<3,>=2.21.0 in c:\users\radrs01\anaconda3\lib\site-packages (from tensorboard<2.13,>=2.12->tensorflow-intel==2.12.0->tensorflow) (2.28.1)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\radrs01\anaconda3\lib\site-packages (from packaging->tensorflow-intel==2.12.0->tensorflow) (3.0.9)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in c:\users\radrs01\anaconda3\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard<2.13,>=2.12->tensorflow-intel==2.12.0->tensorflow) (5.3.0)
Requirement already satisfied: rsa<5,>=3.1.4 in c:\users\radrs01\anaconda3\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard<2.13,>=2.12->tensorflow-intel==2.12.0->tensorflow) (4.9)
Requirement already satisfied: urllib3<2.0 in c:\users\radrs01\anaconda3\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard<2.13,>=2.12->tensorflow-intel==2.12.0->tensorflow) (1.26.15)
Requirement already satisfied: pyasn1-modules>=0.2.1 in c:\users\radrs01\anaconda3\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard<2.13,>=2.12->tensorflow-intel==2.12.0->tensorflow) (0.2.8)
Requirement already satisfied: requests-oauthlib>=0.7.0 in c:\users\radrs01\anaconda3\lib\site-packages (from google-auth-oauthlib<1.1,>=0.5->tensorboard<2.13,>=2.12->tensorflow-intel==2.12.0->tensorflow) (1.3.1)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\radrs01\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.13,>=2.12->tensorflow-intel==2.12.0->tensorflow) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\radrs01\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.13,>=2.12->tensorflow-intel==2.12.0->tensorflow) (3.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\radrs01\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.13,>=2.12->tensorflow-intel==2.12.0->tensorflow) (2023.5.7)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in c:\users\radrs01\anaconda3\lib\site-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard<2.13,>=2.12->tensorflow-intel==2.12.0->tensorflow) (0.4.8)
Requirement already satisfied: oauthlib>=3.0.0 in c:\users\radrs01\anaconda3\lib\site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<1.1,>=0.5->tensorboard<2.13,>=2.12->tensorflow-intel==2.12.0->tensorflow) (3.2.2)

In [3]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns = ['EIN', 'NAME'])
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [4]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [5]:
# Look at APPLICATION_TYPE value counts for binning
app_counts = application_df['APPLICATION_TYPE'].value_counts()
app_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = app_counts[app_counts < 500].index

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# Look at CLASSIFICATION value counts for binning
class_counts = application_df['CLASSIFICATION'].value_counts()
class_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [8]:
# You may find it helpful to look at CLASSIFICATION value counts >1
class_counts[class_counts > 1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [9]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = class_counts[class_counts < 1000].index

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [10]:
# Convert categorical data to numeric with `pd.get_dummies`
dummies_df = pd.get_dummies(application_df)
dummies_df

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34296,1,5000,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34297,1,5000,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
34298,1,36500179,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [11]:
# Split our preprocessed data into our features and target arrays
y = dummies_df.IS_SUCCESSFUL.values
X = dummies_df.drop(columns = 'IS_SUCCESSFUL').values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 1, stratify = y)

In [12]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [19]:
# Create a method that creates a new Sequential model with hyperparameter options
def create_model(hp):
    nn_1 = tf.keras.models.Sequential()

    # Allow kerastuner to decide which activation function to use in hidden layers
    activation = hp.Choice('activation', ['relu','tanh','sigmoid'])
    
    # Allow kerastuner to decide number of neurons in first layer
    nn_1.add(tf.keras.layers.Dense(units=hp.Int('first_units',
        min_value=1,
        max_value=80,
        step=1), activation=activation, input_dim=len(X_train_scaled[0])))

    # Allow kerastuner to decide number of hidden layers and neurons in hidden layers
    for i in range(hp.Int('num_layers', 1, 3)):
        nn_1.add(tf.keras.layers.Dense(units=hp.Int('units_' + str(i),
            min_value=1,
            max_value=30,
            step=1),
            activation=activation))
    
    nn_1.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

    # Compile the model
    nn_1.compile(loss="binary_crossentropy", optimizer='adam', metrics=["accuracy"])
    
    return nn_1

In [20]:
# Import Early Stopping Library
from keras.callbacks import EarlyStopping

In [21]:
# Define early stopping callback
early_stopping = EarlyStopping(monitor='val_accuracy', patience=5, restore_best_weights=True)

In [22]:
!pip install keras-tuner

Requirement already satisfied: keras-tuner in c:\users\radrs01\anaconda3\lib\site-packages (1.3.5)
Requirement already satisfied: packaging in c:\users\radrs01\anaconda3\lib\site-packages (from keras-tuner) (21.3)
Requirement already satisfied: kt-legacy in c:\users\radrs01\anaconda3\lib\site-packages (from keras-tuner) (1.0.5)
Requirement already satisfied: requests in c:\users\radrs01\anaconda3\lib\site-packages (from keras-tuner) (2.28.1)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\radrs01\anaconda3\lib\site-packages (from packaging->keras-tuner) (3.0.9)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\radrs01\anaconda3\lib\site-packages (from requests->keras-tuner) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\radrs01\anaconda3\lib\site-packages (from requests->keras-tuner) (2023.5.7)
Requirement already satisfied: idna<4,>=2.5 in c:\users\radrs01\anaconda3\lib\site-packages (from requests->keras-tuner) (3.3)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\radrs01\anaconda3\lib\site-packages (from requests->keras-tuner) (2.0.4)

In [23]:
# Import the kerastuner library
import keras_tuner as kt
tuner = kt.Hyperband(
    create_model,
    objective="val_accuracy",
    max_epochs=50,
    hyperband_iterations=2)

In [24]:
# Run the kerastuner search for best hyperparameters
tuner.search(X_train_scaled, y_train,epochs=50, validation_data=(X_test_scaled,y_test), callbacks=[early_stopping])

Trial 180 Complete [00h 00m 15s]
val_accuracy: 0.7294460535049438

Best val_accuracy So Far: 0.7321282625198364
Total elapsed time: 00h 59m 51s
INFO:tensorflow:Oracle triggered exit

In [31]:
# Run the kerastuner search for best hyperparameters
tuner.search(X_train_scaled, y_train,epochs=50, validation_data=(X_test_scaled,y_test), callbacks=[early_stopping])

INFO:tensorflow:Oracle triggered exit

In [32]:
# Get best model hyperparameters
best_hyper = tuner.get_best_hyperparameters(1)[0]
best_hyper.values

{'activation': 'tanh',
 'first_units': 74,
 'num_layers': 3,
 'units_0': 25,
 'units_1': 18,
 'units_2': 13,
 'tuner/epochs': 17,
 'tuner/initial_epoch': 6,
 'tuner/bracket': 2,
 'tuner/round': 1,
 'tuner/trial_id': '0056'}

In [33]:
# Evaluate best model against full test data
best_model = tuner.get_best_models(1)[0]
model_loss, model_accuracy = best_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5526 - accuracy: 0.7321 - 590ms/epoch - 2ms/step
Loss: 0.5526276230812073, Accuracy: 0.7321282625198364

In [34]:
# Export our model to HDF5 file
best_model.save('HDF5 files/AlphabetSoupCharity_Optimization_1.h5')